@font-face {
    font-family: 'CPMono';
    src: url('/fonts/cpmono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'CPMonoBold';
  src: url('/fonts/cpmono_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoDunggeunmoPro';
  src: url('/fonts/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SCDream';
  src: url('/fonts/score/SCDream5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SCDreamLight';
  src: url('/fonts/score/SCDream2.otf') format('opentype');
  font-weight: normal; /* 가벼운 스타일로 변경 */
  font-style: normal;
}

@font-face {
  font-family: 'GFODream';
  src: url('/fonts/GrandifloraOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BankGothic";
  src: url('/fonts/BankGothicLtBt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}